<form action="/tasks/add" method="POST">
<div>
<label for="Usuario">Introduce un usuario</label>
<input type="text" name="Usuario">
<input type="text" name="Contrasenia">

</div>

<button>Agregar</button>
</form>
