<form action="/tasks/add" method="POST">
<div>
    <div class="col m4-b">
        <div class="row">
            <ul>
<li><label for="Usuario">Introduce un usuario</label></li>
<input type="text" name="Usuario">
<li><label for="Contrasenia">Introduce Contraseña</label></li>
<input type="password" name="Contrasenia">
<li><label for="Nombre">Introduce un Nombre</label></li>
<input type="text" name="Nombre">
<li><label for="Apellido">Introduce un Apellido</label></li>
<input type="text" name="Apellido">
<li><label for="Localidad">Introduce Localidad</label></li>
<input type="text" name="Localidad">
<li><label for="Edad">Introduce Edad</label></li>
<input type="text" name="Edad">
<li><label for="Email">Introduce Email</label></li>
<input type="text" name="Email">
<li><label for="TarjetaBancaria">Introduce Tarjeta Bancaria</label></li>
<input type="text" name="Tarjeta Bancaria">
</li>
</ul>
</div>
</div>
</div>


<button>Agregar</button>
</form>


<!--<form action="/tasks/add" method="POST">
<div>
<label for="Usuario">Introduce un usuario</label>
<input type="text" name="Usuario">
<input type="text" name="Contrasenia">

</div>

<button>Agregar</button>
</form> -->
